extends layout 

block content 
  h1 #{title}: #{category_detail.name}

  p= category_detail.description

  hr 

  if items_category.length 
    ul 
      each item in items_category 
        li 
          a(href=item.url) #{item.name} ( $#{item.price} )
  else 
    p No item in this category

  hr
  p 
    a(href=category_detail.url+'/update') Update Category
  p  
    a(href=category_detail.url+'/delete') Delete Category

